#nav-bar {
  background-color: rgba(0, 168, 150, 1);
  top: 0;
  width: 100%;
  color: #0C3B2B;
  position: fixed;
  z-index: 1000;
  padding-left: 2em;
  padding-right: 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  margin-right: 10px;
  vertical-align: middle;
}

#nav-bar .header {
  font-size: 200%;
  vertical-align: middle;
}

#compose {
    float: right;
    margin-top: 25px;
    opacity: 0.5;
    border-radius: 5px;
}

#compose:hover {
  opacity: 1;

}
